<h1>My Laravel 5 Angular 2.0.0 project</h1>
<p>Enjoyed!!</p>

<h2>Введите ваше имя</h2>
<input type="text" [(ngModel)]="name" >

<input type="text" [(ngModel)]="age" >

<h3>Добро пожаловать {{name}}!</h3>

внутри тега "p":
<p [textContent]="name"></p>

<button (click)="increase($event)">Click</button>
<p>Количество кликов {{count}}</p>

<h2>Количество кликов(2): {{clicks}}</h2>
oooooooooooooooooooooooooooooooooooooooooooo
<h2>дочерний компонент:</h2>
Количество кликов: {{clicks}}
<child-comp [userAge]="age" (onChanged)="onChanged($event)" [name]="name"></child-comp>
